*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
  color: black; background: white;
}

::selection {
  color: black; background: white;
}

body {
	font-family: 'Roboto', 'Avenir Next', sans-serif;
	color: #fff;
	background: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.message {
	background: #ed6f83;
	color: #fff;
	padding: 0.5em;
	font-weight: bold;
	font-size: 0.85em;
	flex: none;
	display: none;
}

.no-cssmask .message {
	display: block;
}

/* Content */

.content {
	padding: 3em 0;
}